

:root{
    --mainDark : #343a40;
    --mainGray: rgba(109,109,109,0.5);
    --mainLightGray: rgba(172,172,172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
}


$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
